# Binaries and runtime data
*_bin
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OS metadata files
.DS_Store
Thumbs.db

# Local database files and credentials
data/
run.ps1
.env
.tokensave

